(


//on player enter 
  triggers_on_activate: Some( [



                  (
                    action: PlayCinematic( 
                      cinematic_name: "twisted_grove_wolf.cine" 
                    ),
                    conditions: Some([
                      EncounterStateEquals (key: "twisted_grove_wolf.encounter" , state_name: "init" )
                    ]),
                  ),


                    (
                    action: SetEncounterState( 
                      key: "twisted_grove_wolf.encounter" ,

                       new_state: "interacted"
                    ),
                    conditions: Some([
                      EncounterStateEquals (key: "twisted_grove_wolf.encounter" , state_name: "init" )
                    ])



                  )

              ] )



)