


(
	
	 material_name:  "DarkElfRoofPieces",   

	 diffuse_texture: Some("textures/material_overrides/dark_elven/Roof_Pieces_1A1_Roof_Pieces_1A1_AlbedoTransparency_2.png"),
	  normal_texture: Some("textures/material_overrides/dark_elven/Roof_Pieces_1A1_Roof_Pieces_1A1_Normal.png"),

	 roughness: 0.8,
 	 



     diffuse_color_tint: Some( LinearRgba((
                          red: 0.42,
                          green: 0.42,
                          blue:  0.42,
                          alpha:  1.0,
                    )  )  ), 


   uv_scale_factor: 1.0,  // do this in the material override lib ?
        
)