(
	
	 material_name:  "DarkElfPlasterWalls",   

	 diffuse_texture: Some("textures/material_overrides/dark_elven/Plaster_Walls_A_Plaster_A_AlbedoTransparency_sRGB.png"),
	  normal_texture: Some("textures/material_overrides/dark_elven/Plaster_Walls_A_Plaster_A_Normal_Raw.png"),

	 roughness: 0.8,
 
    

    

   uv_scale_factor: 1.0,  // do this in the material override lib ?
        
)