(
   
    texture: "textures/vfx_textures/fx_fireskill/grad10_09.png",

  
    masking_texture: Some( "textures/vfx_textures/Gradient_Biolumin_04.png" ),

    animation_speed: (0.1,0.0),  

    distortion_speed: (0.08,0.08),
    scroll_repeats: ( 6.0,1.0),
    distortion_amount: 0.02 , 
    fresnel_power: None,

    color: LinearRgba(
        red: 0.2,
        green: 0.3,
        blue: 0.2,
        alpha: 0.8
    ),
     emissive: LinearRgba(
         red: 4.0,
        green: 0.3,
        blue: 70.0,
        alpha: 3.6
    )
      
)

 