(
   
    texture: "textures/vfx_textures/solid.png",
    animation_speed: (0.0,0.0),  

    distortion_speed: (0.02,0.01),
    scroll_repeats: ( 1.0,1.0),
    distortion_amount: 0.002 , 

    color: LinearRgba(
        red: 6.0,
        green:  6.0,
        blue:  1.0,
        alpha: 0.8
    ),
     emissive: LinearRgba(
         red: 6.0,
        green: 6.0,
        blue: 1.0,
        alpha: 1.0
    )
      
)

 