(
    steps: [
        (
            body: "Search my pack for my extra blade.  I heard something nearby..",
            end_trigger_actions: None,
            start_trigger_actions:None, //if none, we assume we jump to the next step 
            
            dialog_choice_architecture: Continue ,
            
           // fallback_dialog_action: None //if this none, we just go to the next step 
        ),
        
    ],
)

