/target
 
artifacts/**
assets/models/doodads_broken/**
assets/models/doodads/**
assets/models/units/**
assets/textures/vfx_textures/**
assets/textures/fx_fireskill/**
assets/textures/kenney/**
assets/textures/material_overrides/**
# assets/**/manifest.ron
