 (


     replacement_set_name: "academy",

	 material_replacements : {
 
         			//there are all fixed ?  
         			// use ancienty tex?
        "floor" : "AcademyFloor",
         "ceiling" : "AcademyCeiling",
        "wall" : "AcademyWall",
        "trim" : "AcademyTrim",
        "exterior" : "AcademyExterior",

         "roof" : "AcademyRoof",
         "stone" : "AcademyStone",
          "wood" : "AcademyWood",
    },

)
