(


     replacement_set_name: "MedievalVillage",

	 material_replacements : {
 
        "floor" : "MedievalVillageFloor",
        "door_round" : "MedievalVillageDoorRound",
        "door_square" : "MedievalVillageDoorSquare",
        "roof" : "MedievalVillageRoof",
        "roof_window" : "MedievalVillageRoofWindow",
        "stairs" : "MedievalVillageStairs",
        "wall1" : "MedievalVillageWall1",
        "wall2" : "MedievalVillageWall2",
        "wall_stone" : "MedievalVillageWallStone",
         

    },

)
   
