
(


     replacement_set_name: "tree_spruce",

	 material_replacements : {
 	
 	
        "bark" : "PineBark1",
        "leaves" : "SpruceLeaves1",
        "branches": "SpruceLeaves1"


    },

)
   
 