(
	
	 material_name:  "DwarvenStone",   

	 diffuse_texture: Some("textures/material_overrides/dwarven/RawStoneDEP_Albedo.png"),
	  normal_texture: Some("textures/material_overrides/dwarven/RawStoneDEP_Normal.png"),

	 roughness: 0.8,
 
    
 

   uv_scale_factor: 1.0,  // do this in the material override lib ?
        
)