(
	
	 material_name:  "DwarvenTile",   

	 diffuse_texture: Some("textures/material_overrides/dwarven/StoneTileBDEP_Albedo.png"),
	  normal_texture: Some("textures/material_overrides/dwarven/StoneTileBDEP_NNormal.png"),

	 roughness: 0.8,
 
     

   uv_scale_factor: 1.0,  // do this in the material override lib ?
        
)