(

  material_types: {

  	 
  		"Wall1":(
  		  
        material_name:  "Wall1",  // load from glb 
        uv_scale_factor: 16.0,  // do this in the material override lib ?
        diffuse_color_tint: Some( LinearRgba(
                          red: 1.0,
                          green: 1.0,
                          blue:  1.0,
                          alpha:  1.0,
                      )  )
  		)

  }


)