(

  material_types: {

     
      "Wall1":(
        
        material_name:  "Wall1",  // load from glb 
        uv_scale_factor: 1.0,  // do this in the material override lib ?
       
      ),



      "Wall2":(
        
        material_name:  "Wall2",  // load from glb 
        uv_scale_factor: 1.0,  // do this in the material override lib ?
         
      ),



       "StoneToon1":(
        
        material_name:  "StoneToon",  // load from glb 
        uv_scale_factor: 2.0,  // do this in the material override lib ?


         diffuse_color_tint: Some( LinearRgba(
                          red: 0.80,
                          green: 0.80,
                          blue:  0.80,
                          alpha:  1.0,
                      )  )
        
      ),

       "StoneToon2":(
        
        material_name:  "StoneToon",  // load from glb 
        uv_scale_factor: 2.0,  // do this in the material override lib ?


         diffuse_color_tint: Some( LinearRgba(
                          red: 0.30,
                          green: 0.30,
                          blue:  0.30,
                          alpha:  1.0,
                      )  )
        
      ),

        "DirtToon1":(
        
        material_name:  "StoneToon",  // load from glb 
        uv_scale_factor: 2.0,  // do this in the material override lib ?  

        //brown tint 
         diffuse_color_tint: Some( LinearRgba(
                          red: 0.26,
                          green: 0.22,
                          blue:  0.15,
                          alpha:  1.0,
                      )  )
        
      ),


       "Rocks1":(
        
        material_name:  "Rocks1",  // load from glb 
        uv_scale_factor: 1.0,  // do this in the material override lib ?
        
      ),



       "Rocks2":(
        
        material_name:  "Rocks2",  // load from glb 
        uv_scale_factor: 1.0,  // do this in the material override lib ?
        
      ),



       "Cliff1":(
        
        material_name:  "Cliff1",  // load from glb 
        uv_scale_factor: 1.0,  // do this in the material override lib ?
        
      ),  

        "Cliff2":(
        
        material_name:  "Cliff2",  // load from glb 
        uv_scale_factor: 1.0,  // do this in the material override lib ?
        
      ),

         "Cliff3":(
        
        material_name:  "Cliff3",  // load from glb 
        uv_scale_factor: 1.0,  // do this in the material override lib ?
        
      ),


  
       "Cliff4":(
        
        material_name:  "Cliff4",  // load from glb 
        uv_scale_factor: 1.0,  // do this in the material override lib ?
        
      ),

        "Cliff5":(
        
        material_name:  "Cliff5",  // load from glb 
        uv_scale_factor: 1.0,  // do this in the material override lib ?
        
      ),


       "Cobbles1":(
        
        material_name:  "Cobbles1",  // load from glb 
        uv_scale_factor: 2.0,  // do this in the material override lib ?
        
      ),


       "Cobbles2":(
        
        material_name:  "Cobbles2",  // load from glb 
        uv_scale_factor: 2.0,  // do this in the material override lib ?
        
      ),

      "Cobbles3":(
        
        material_name:  "Cobbles3",  // load from glb 
        uv_scale_factor: 2.0,  // do this in the material override lib ?
        
      ),
 


        //foliage 

      "Flowers1":(
        
        material_name:  "Flowers1",  // load from glb 
        uv_scale_factor: 1.0,  // do this in the material override lib ?
    
         
      ),

       "Grass1":(
        
        material_name:  "Grass1",  // load from glb 
        uv_scale_factor: 1.0,  // do this in the material override lib ?
    
          diffuse_color_tint: Some( LinearRgba(
                          red: 0.04,
                          green: 0.28,
                          blue:  0.05,
                          alpha:  1.0,
                      )  ),


        shader_type: Some( FoliageMaterial ),
      ),





       "TreeLeavesFir":(
        
        material_name:  "TreeLeavesFir",  // load from glb 
        uv_scale_factor: 1.0,  // do this in the material override lib ?
    
          diffuse_color_tint: Some( LinearRgba(
                              red: 0.04,
                          green: 0.28,
                          blue:  0.05,

                          alpha:  1.0,
                      )  )
      ),



       "TreeBark1":(
        
        material_name:  "Wood5",  // load from glb 
        uv_scale_factor: 1.0,  // do this in the material override lib ?
    
         
      ),



       "Branches1":(
        
        material_name:  "Branches1",  // load from glb 
        uv_scale_factor: 1.0,  // do this in the material override lib ?
      

          diffuse_color_tint: Some( LinearRgba(
                          red: 0.28,
                          green: 0.20,
                          blue:  0.10,

                          alpha:  1.0,
                      )  )

         
      ),

        "Leaves1":(
        
        material_name:  "Leaves1",  // load from glb 
        uv_scale_factor: 1.0,  // do this in the material override lib ?
       
      ),

        "Leaves2":(
        
        material_name:  "Leaves2",  // load from glb 
        uv_scale_factor: 1.0,  // do this in the material override lib ?
       
      ),

        "Leaves3":(
        
        material_name:  "Leaves3",  // load from glb 
        uv_scale_factor: 1.0,  // do this in the material override lib ?

          diffuse_color_tint: Some( LinearRgba(
                              red: 0.04,
                          green: 0.28,
                          blue:  0.05,

                          alpha:  1.0,
                      )  )
       
      ),

        "Leaves4":(
        
        material_name:  "Leaves4",  // load from glb 
        uv_scale_factor: 1.0,  // do this in the material override lib ?
        
          diffuse_color_tint: Some( LinearRgba(
                              red: 0.04,
                          green: 0.28,
                          blue:  0.05,

                          alpha:  1.0,
                      )  )
      ),




       "Wood1":(
        
        material_name:  "Wood1",  // load from glb 
        uv_scale_factor: 1.0,   
    
         
      ),

         "Wood2":(
        
        material_name:  "Wood2",  // load from glb 
        uv_scale_factor: 1.0,   
    
         
      ),

      "Wood5":(
        
        material_name:  "Wood5",  // load from glb 
        uv_scale_factor: 1.0,   
    
         
      ),


      "WoodTrim":(
        
        material_name:  "Wood5",  // load from glb 
        uv_scale_factor: 1.0,   
    
         
      ),


        "Shingles1":(
        
        material_name:  "Shingles1",  // load from glb 
        uv_scale_factor: 1.0,   

          diffuse_color_tint: Some( LinearRgba(
                          red: 0.40,
                          green: 0.50,
                          blue:  0.80,
                          alpha:  1.0,
                      )  )
    
         
      ),

        "Shingles2":(
        
        material_name:  "Shingles2",  // load from glb 
        uv_scale_factor: 1.0,   


          diffuse_color_tint: Some( LinearRgba(
                          red: 0.40,
                          green: 0.50,
                          blue:  0.80,
                          alpha:  1.0,
                      )  )
    
         
      ),

        "Marble1":(
        
        material_name:  "Marble1",  // load from glb 
        uv_scale_factor: 1.0,   
        
      ),



      // Clay Tiles Materials 


      "TiledWall1":(
        
        material_name:  "Wall1",  // load from glb 
        uv_scale_factor: 1.0,  
      ),



      "TiledBricks1":(
        
        material_name:  "Bricks1",  // load from glb 
        uv_scale_factor: 0.25,  
      ),

       "TiledBricks2":(
        
        material_name:  "Bricks2",  // load from glb 
        uv_scale_factor: 0.25,  
      ),


       "TiledStuccoLight":(
        
        material_name:  "Marble1",  // load from glb 
        uv_scale_factor: 0.125,   
        
      ),

       "TiledStuccoDark":(
        
        material_name:  "Marble1",  // load from glb 
        uv_scale_factor: 0.125,   

          diffuse_color_tint: Some( LinearRgba(
                          red: 0.15,
                          green: 0.15,
                          blue:  0.15,
                          alpha:  1.0,
                      )  )

        
      ),


         "TiledTiles1":(
        
        material_name:  "Tiles1",  // load from glb 
        uv_scale_factor: 1.0,   
        
      ),


         "TiledTiles2":(
        
        material_name:  "Tiles2",  // load from glb 
        uv_scale_factor: 1.0,   
        
      ),

        "TiledTiles3":(
        
        material_name:  "Tiles3",  // load from glb 
        uv_scale_factor: 1.0,   
        
      ),

        "TiledTiles4":(
        
        material_name:  "Tiles4",  // load from glb 
        uv_scale_factor: 1.0,   
        
      ),



      "TiledWood3":(
        
        material_name:  "Wood3",  // load from glb 
        uv_scale_factor: 1.0,   
        
      ),

       "TiledMarble":(
        
        material_name:  "Marble1",  // load from glb 
        uv_scale_factor: 1.0,   
        
      ),



         "TiledMarbleDark":(
        
        material_name:  "Marble1",  // load from glb 
        uv_scale_factor: 1.0,  

       diffuse_color_tint: Some( LinearRgba(
                          red: 0.5,
                          green: 0.5,
                          blue:  0.5,
                          alpha:  1.0,
                      )  ) 
        
      ),


        "TiledWood4":(
        
        material_name:  "Wood4",  // load from glb 
        uv_scale_factor: 1.0,   
        
      ),

        "TiledWood5":(
        
        material_name:  "Wood5",   
        uv_scale_factor: 1.0,   
        
      ),

       "TiledCobbles1":(
        
        material_name:  "Cobbles1",  
        uv_scale_factor: 0.25,   
        
      ),

      "TiledCobbles2":(
        
        material_name:  "Cobbles2",   
        uv_scale_factor: 0.25,   
        
      ),
      "TiledCobbles3":(
        
        material_name:  "Cobbles3",  
        uv_scale_factor: 0.25,   
        
      ),

      
      "TiledRocks1":(
        
        material_name:  "Rocks1",   
        uv_scale_factor: 0.25,   
        
      ),

       "TiledRocks2":(
        
        material_name:  "Rocks2",   
        uv_scale_factor: 0.25,   
        
      ),


  },

  material_replacement_sets: Some( {


    "tree_fir" : {

        "bark" : "TreeBark1",
        "leaves" : "TreeLeavesFir",
        "branches": "Branches1"

    },

    "tree_suntail" : {

        "bark" : "Wood1",
        "leaves" : "Leaves3",
        "branches": "Branches1"


    },

    "suntail_frame_wood" : {

        "wall" : "Wood2",
        "trim" : "WoodTrim",
         

    },
    "suntail_roof" : {

        "shingles" : "Shingles2",
        "trim" : "WoodTrim",
        "wood" : "Wood2",
         

    }

  } )


)