


/*
    Waypoints of interest 

    twisted_grove_power_runes_cam_1
     twisted_grove_power_runes_cam_2
  twisted_grove_power_runes_cam_3


*/
Cinematic(


    steps: [

     (
            duration:  1000,  
            actions: [ 
            //remove select_first_power_camera 
                PanCinematicCameraToVirtualCameraSetpoint (camera_unique_name: "twisted_grove_power_runes_cam_1" )
             ]  
        ),

        (
            duration:  1000,  
            actions: [ 
           
                PanCinematicCameraToVirtualCameraSetpoint (camera_unique_name: "twisted_grove_power_runes_cam_2" )
             ]  
        ),

           

     //point the camera up at the sky, show some 
     //cool things in the sky .. 
     (

      duration: 1000,
      actions: [

         PanCinematicCameraToVirtualCameraSetpoint (camera_unique_name: "twisted_grove_power_runes_cam_3" ),

           
         

      ]
 
    ),

      (

      duration: 1000,
      actions: [

         
           PopulateSelectConditionMenuForPlayer  (
             conditions_array: [
                 "astral_power_spirit_breaker.condition"
            ],
            condition_select_mode: Some(AstralPower) 
          )
         

      ]
 
    ),

     (
            duration: 0,  
            actions: [
               
                 EndCinematic
                                 
             ]
        ) 

        ]

 )