(


//on player enter 
  triggers_on_activate: Some( [



                  (
                    action: PlayCinematic( 
                      cinematic_name: "select_first_power.cine" 
                    ),
                    conditions: Some([
                      EncounterStateEquals (key: "select_first_power.encounter" , state_name: "init" )
                    ]),
                  ),

                    (
                    action: SetEncounterState( 
                      key: "select_first_power.encounter" ,

                       new_state: "complete"
                    ),
                    conditions: Some([
                      EncounterStateEquals (key: "select_first_power.encounter" , state_name: "init" )
                    ])



                  )

                ] )



)