(


//on player enter 
  triggers_on_activate: Some( [



                  (
                    action: SetAiNpcWaypointPath( 
                        source: UnitUniqueName("jericho"), 
                      waypoint_path: Some( "nav_path_01.waypointpath" )  
                    )

                    //conditions: Some([
                      //encounter state 
                  //  ])



                  ),] )



)