(
  
   material_name:  "CastleWallPixel",   

      diffuse_texture: Some("textures/material_overrides/pixel/szadiart_catacombs.png"),



  normal_texture: Some("textures/material_overrides/pixel/szadiart_catacombs_normal.png"),


   roughness: 0.9,
 
    
 
   uv_scale_factor: 1.0,  // do this in the material override lib ?
   

     texture_subset_dimensions: Some(

            (
               offset: ( 0,  288 ) ,
               dimensions: (  32 ,  32  ), 
               base_texture_dimensions:  (1024,640)  
            )

        ),  

   custom_props:  [ "FixedSpaceUvShader" ],

 
          
)