(
  
   material_name:  "CastleTrim",   

   diffuse_texture: Some("textures/material_overrides/dreamscape_castle/building/T_TrimCastle_01_Unity_C.png"),
    normal_texture: Some("textures/material_overrides/dreamscape_castle/building/T_TrimCastle_01_Unity_N.png"),

   roughness: 0.8,
 
    
 
   uv_scale_factor: 1.0,  // do this in the material override lib ?
  

   
  //  custom_props:  [ "FixedSpaceUvShader" ],
          
)