(
    
    
    magic_fx_instances: [
 
 

  (
    shader_variant_name: "portal_1.shadvar",
	  mesh_name:  "portal_spiral_plane_arch.obj", 
	    fx_style: Billboard, 
		  start_time_offset: 0.0,
		  end_time_offset: 1.0,
		  start_transform: (translation: (0.0,0.0,0.0), rotation:(0.0,0.0,0.0),scale:(1.0,1.0,1.0)),
		  end_transform: (translation: (0.0,0.0,0.0), rotation:(0.0,0.0,0.0),scale:(1.0,1.0,1.0)),

		  start_tint_color: Some(   LinearRgba((
			        red: 1.0,
			        green: 1.0,
			        blue: 1.0,
			        alpha: 1.0
			  )  )),

		  end_tint_color: Some(   LinearRgba((
			        red: 1.0,
			        green:1.0,
			        blue: 1.0,
			        alpha: 0.1
			  )  )), 

    ),
 
 
    

    ] ,  

    max_time: None,
    repeating: true 


)