(translation_offset:None,entities:[Doodad(name:"player_waypoint",transform:(translation:(3.498151,6.4058256,1.8011566),rotation:(0.0,-0.0,0.0),scale:(1.0,1.0,1.0)),custom_props:Some({"special_type":String("player_waypoint"),"waypoint_name":String("entrance_main")})),Doodad(name:"blank_block",transform:(translation:(12.0,8.0,39.0),rotation:(0.0,-0.0,0.0),scale:(16.0,16.0,1.0)),custom_props:Some({})),Doodad(name:"blank_block",transform:(translation:(-2.0,12.0,2.0),rotation:(0.0,-0.0,0.0),scale:(1.0,8.0,4.0)),custom_props:Some({})),Doodad(name:"blank_block",transform:(translation:(32.0,-15.0,-8.267057),rotation:(0.0,-0.0,0.0),scale:(4.0,1.0,4.0)),custom_props:Some({}))] ) 