(
	
	 material_name:  "HumanHouseRoof",   

    	diffuse_texture: Some("textures/material_overrides/cobbles2_diffuse.png"),
	normal_texture: Some("textures/material_overrides/cobbles2_normal.png"),

	roughness: 0.9,
   metallic: Some(0.4),

   emissive_texture: None ,


     diffuse_color_tint: Some( LinearRgba((
                          red: 0.7,
                          green: 0.7,
                          blue:  0.7,
                          alpha:  1.0,
                     ) )  ), 


   custom_props:  [ "FixedSpaceUvShader" ],



   uv_scale_factor: 1.0,  // do this in the material override lib ?
        





)