(
	
	 material_name:  "DungeonWeapons",   

	 diffuse_texture: Some("textures/material_overrides/weapons/dungeon_weapons_albedo_sm.png"),
	 // normal_texture: Some("textures/material_overrides/cliff4_normal.png"),

	 roughness: 0.9,

   emissive_texture: None ,

 

 
   uv_scale_factor: 1.0,  // do this in the material override lib ?
        
)