(
  
   material_name:  "CastleRoof",   

   diffuse_texture: Some("textures/material_overrides/dreamscape_castle/building/T_Roof_Tiles_02_C.png"),
    normal_texture: Some("textures/material_overrides/dreamscape_castle/building/T_Roof_Tiles_02_N.png"),

   roughness: 0.8,
 
    
   uv_scale_factor: 1.0,  // do this in the material override lib ?
  

 
          
)