(
	
	 material_name:  "CastleRubble",   

	 diffuse_texture: Some("textures/material_overrides/dreamscape_castle/structures/T_Rubble_C.png"),
	  normal_texture: Some("textures/material_overrides/dreamscape_castle/structures/T_Rubble_N.png"),

	 roughness: 0.8,
 
    
   uv_scale_factor: 1.0,  // do this in the material override lib ?
  

 
          
)