(
	
	 material_name:  "CaveGround",   

	 diffuse_texture: Some("textures/material_overrides/cave/Tex_CavePack_ground_a.png"),
	  normal_texture: Some("textures/material_overrides/cave/Tex_CavePack_ground_n.png"),

	 roughness: 0.8,
 
    
 

   uv_scale_factor: 1.0,  // do this in the material override lib ?
      

 
   
)