(
    steps: [
        (
            body: "Oh - human, come closer, come closer please..",
            start_trigger_actions: None,
            end_trigger_actions: None, //if none, we assume we jump to the next step 
            dialog_choice_architecture:   Choices([
                ( 
                    body: "Approach" ,
                    dialog_action: Some( JumpToNode( step_index: Some( 1 ) )  )  
                   ),

                 ( 
                    body: "Leave" ,
                    trigger_actions: Some([
                        SetEncounterState( 
                          key: "aria_intro.encounter" ,

                          new_state: "init"
                        )
                    ]),
                    dialog_action: Some( ExitDialog )
                ), 
                 
                  
                
            ] ),
           // fallback_dialog_action: None //if this none, we just go to the next step 
        ),
        (   
            
            body: "Help me please, I am in so much pain.. something evil has taken over this place.",
            start_trigger_actions: None,
            end_trigger_actions: None,
            dialog_choice_architecture:  Choices([
                  ( 
                    body: "What.. are you?" ,
                    dialog_action: Some( JumpToNode( step_index: Some( 2 ) )  )  
                   ),

                   ( 
                    body: "Is there anything I can do to help?" ,
                    dialog_action: Some( JumpToNode( step_index: Some( 3 ) )  )  
                   ),

                   ( 
                    body: "Who did this to you?" ,
                    dialog_action: Some( JumpToNode( step_index: Some( 4 ) )  )  
                   ), 
                
            ] ),

            //fallback_dialog_action: Some( JumpToNode( step_index: Some( 2 ) ) )  
        ),
        (    

            body: "I am Aria, a poet, a lore-maker, a bard full of the greatest tales of the Wood Elves of Viridia.  I was cursed, changed, by something.",
            start_trigger_actions: None,
            end_trigger_actions: None,
            dialog_choice_architecture:  Continue,

            fallback_dialog_action: Some( JumpToNode( step_index: Some( 1 ) ) )  
        ),



        (
            body: "You haven't been cursed -- changed by them yet, have you?  You must find a cure for me if there is one.. and I hope I don't change further.",
            start_trigger_actions: None,
            end_trigger_actions: None,  // set waypoint for elf  
            dialog_choice_architecture: Continue,
             
             fallback_dialog_action: Some( JumpToNode( step_index: Some( 5 ) ) )  
        ),

        (
            body: "Truly I cannot remember, my memory is so hazy and unclear.  We were attacked.. Our whole kingdom.  Whomever did, they are likely still inside.",
            start_trigger_actions: None,
               end_trigger_actions: None,
            dialog_choice_architecture: Continue,
            
            fallback_dialog_action: Some( JumpToNode( step_index: Some( 5 ) ) )  

        ),

       (
            body: "I have a gift for you if you promise to save me and find a cure.  Take this.  It is an enchanted tool for dispelling magical locks.  It should get you inside.",
            start_trigger_actions: None,
               end_trigger_actions: Some( [SetEncounterState( key:"aria_intro.encounter", new_state:"give_branch"  )] ),
            dialog_choice_architecture: Continue,
             fallback_dialog_action: Some(ExitDialog)
        ),

    ],
)


 