(
	
	 material_name:  "CainosDungeonDark",   

	diffuse_texture: Some("textures/material_overrides/pixel/cainos/cainos_dungeon.png"),

	// normal_texture: Some("textures/material_overrides/pixel/cainos/cainos_dungeon.png"),

	
  roughness: 0.9, 
     emissive_texture: None ,
 

        uv_scale_factor: 1.0,    

       
          diffuse_color_tint: Some( LinearRgba((
                          red: 0.21,
                          green: 0.21,
                          blue:  0.18,
                          alpha:  1.0,
                     ) )  ),


)