(
	
	 material_name:  "DirtPixel",   

	diffuse_texture: Some("textures/material_overrides/pixel/overgrown_pixel_dungeon.png"),

	normal_texture: Some("textures/material_overrides/pixel/overgrown_pixel_dungeon.png"),

	roughness: 0.8,
	metallic:Some(0.4),

     emissive_texture: None ,
 

        uv_scale_factor: 1.0,    

        texture_subset_dimensions: Some(

          	(
          	   offset: ( 64,  64 ) ,
          	   dimensions: (  32 ,  32  ), 
 					base_texture_dimensions:  (352,272)  
            )

        ),  


)