(
	
	 material_name:  "Gravel3Pixel",   

    diffuse_texture: Some("textures/material_overrides/pixel/szadiart_catacombs.png"),


	normal_texture: Some("textures/material_overrides/pixel/overgrown_pixel_dungeon_normal.png"),

	
  roughness: 0.9, 

     emissive_texture: None ,
 

        uv_scale_factor: 1.0,    

        texture_subset_dimensions: Some(

          	(
          	   offset: ( 64,  336 ) ,
          	   dimensions: (  32 ,  32  ), 
 				base_texture_dimensions:  (1024,640)  
            )

        ),  

 

)