(translation_offset:None,entities:[Doodad(name:"portal_arch_fx",transform:(translation:(213.48277,25.91509,550.71014),rotation:(-1.3864577,0.0,0.0),scale:(3.0,3.0,3.0)),custom_props:Some({})),Doodad(name:"forest_prop_archway_01",transform:(translation:(213.65367,24.738375,550.71564),rotation:(0.0,-0.0,0.0),scale:(1.0,1.0,1.0)),custom_props:Some({})),Doodad(name:"AncientForestTree3",transform:(translation:(169.15396,26.699802,548.8035),rotation:(0.0,-0.0,0.0),scale:(2.0,2.0,2.0)),custom_props:Some({}))])