 
FoliageConfig(
   

    boundary_dimensions: (1024, 1024), // IVec2(x, y)
    chunk_rows: 8, // 8 x 8 .. 128 units each 

   
    render_distance: Some(200.0),
   
    height_scale: 0.001,


  

    //density_folder_path: Some("foliage/density"), 
    //grass_y_map_folder_path: Some("foliage/y_map"), 
 
    foliage_data_files_path:  "assets/foliage/foliage_scenes/" ,

    foliage_types_manifest_path:  "assets/foliage/foliage_manifest.ron" 
    
)

 