  (
    foliage_definitions: [

    
        (
            name: "highland_grass1",
 
               mesh_name: Some("grass_1"),

               material_name: Some("foliage_green"),

        ),



        (
            name: "highland_grass2",
    
               mesh_name: Some("grass_1"),

               material_name: Some("foliage_green"),

            
           
        ),
         (
            name: "highland_grass3",
 
            
               mesh_name: Some("grass_1"),

               material_name: Some("foliage_green"),

           
        ),
        
        
          (
            name: "highland_pebbles_1",

       
               mesh_name: Some("grass_1"),

               material_name: Some("foliage_green"),

           
        ),
        

	],


    foliage_mesh_definitions: {

        "grass_1" : "models/foliage/grass4.obj",

    },


    //uses the special foliage shader that supports wind 
    foliage_material_definitions: {


        "foliage_green" :  (

            material_preset: Foliage, 
            base_color: Some( Srgba( 
                           red: 0.369,
                          green: 0.467,
                          blue:  0.271,
                          alpha:  1.0,
                           )  ),
         //  base_color_texture: Some("textures/foliage/flat/sprite_0017.png"),
                 base_color_texture: Some("textures/foliage/grass_pixel_1.png"),

        )



 

    }

)
