  (
    foliage_definitions: [

    
        (
            name: "highland_grass1",

          //  mesh_name: Some("grass2"),

          //  material_name: Some("foliage_green")
            
           
        ),
        
        
          (
            name: "highland_pebbles_1",

       
           
        ),
        

	]
)
