  (
    foliage_definitions: [

    
        (
            name: "highland_grass1",
 
           
        ),



        (
            name: "highland_grass2",
 
            
           
        ),
         (
            name: "highland_grass3",
 
            
           
        ),
        
        
          (
            name: "highland_pebbles_1",

       
           
        ),
        

	]
)
