(


     replacement_set_name: "castle_stone",

	 material_replacements : {
 
        "MI_CastleWall_01" : "CastleWallPixel",
        "MI_CastleTrim_01" : "CastleTrimPixel",
        "MI_CastleTrim_02" : "CastleTrim",
        "MI_CastleTrim_03" : "CastleTrim",

         "MI_Trim1" : "CastleTrim",
          "MI_Trim2" : "CastleTrim",

           "MI_BrokenWall" : "CastleBrokenWall",
            "MI_BrokenWood" : "CastleBrokenWood",
 

           "Ml_FW_Trim_01" : "CastleTrim",
          "Ml_FW_Trim_02" : "CastleTrim",

          "MI_CastleRoof" : "CastleRoof",
         "MI_CastleRoof_01" : "CastleRoof",
        // "MI_Castle_Roof_01" : "CastleRoof",

         "MI_CastleSlabs_01" : "CastleSlabs",
        
       

          "MI_Window_A" : "CastleWindow",

           "MI_CastlePavement_01" : "CastlePavement",
         "MI_CastlePavement_02" : "CastlePavement",

         "MI_Rubble" : "CastleRubble",
         "MI_Ballista" : "CastleBallista",

         "Tiles" : "CastleTiles",

        "MI_WoodTrim" : "CastleWoodTrim",
       	"MI_WoodTrim_01" : "CastleWoodTrim",
        "MI_WoodFloor_01" : "CastleWoodFloor",

    },

)
    