(


     replacement_set_name: "dark_elven_house",

	 material_replacements : {
 
        "stone_bricks" : "DarkElfStoneBrick",
        "stone_dark" : "DarkElfStoneDark",
         
        "roof" : "DarkElfRoof",
        "dark_wood_trim" : "DarkElfWoodTrim",
        "wood_trim" : "DarkElfWoodTrim",
       
        "glass" : "WindowGlassLight",

        "plaster": "DarkElfPlasterWalls",

        "roof_pieces": "DarkElfRoofPieces",

        "walls_wood": "DarkElfWoodWalls", 
        "walls_beams": "DarkElfWallsBeams"  ,

         "window_frame": "DarkElfWallsBeams"  



    },

)
    