
(


     replacement_set_name: "tree_ancient_b",

	 material_replacements : {
 	
  
        "bark" : "AncientFoliageBark2",
        "leaves" : "AncientFoliageLeaves2",
        "branches": "AncientFoliageLeaves2"


    },

)
   
 