(

    //this gets copied to artifacts 
    //if just getting started, set to None
  external_game_assets_folder: Some("../healing-spirit-game-assets/game-assets"),

          
 // initial_level_to_load: Some( "editor_showcase.level" ),

  //  initial_level_to_load: Some( "player_shop_basic.level" ),

     //initial_level_to_load: Some( "player_shop_cellar.level" ),

   

     initial_level_to_load: Some( "crypt_1.level" ),
   
   //  initial_level_to_load: Some( "crypt_bossroom.level" ),
   

   //  initial_level_to_load: Some( "world.level" ),
    
   // initial_level_to_load: Some( "dungeon_viridian_temple.level" ),

    // initial_level_to_load: Some( "dungeon_broken_elves.level" ),


     // initial_level_to_load: Some( "house_interior_kieran.level" ),

  // initial_level_to_load: Some( "dungeon_banesera_aruun.level" ),

  // initial_level_to_load: Some( "fae_world.level" ),

 //  initial_level_to_load: Some( "vessara_enchanting_shop.level" ),

       
  // initial_level_to_load: Some( "dungeon_grove_cave.level" ),



 // initial_level_to_load: Some( "fetid_hole.level" ),
 
  
 // initial_level_to_load: Some( "city_vessara.level" ),


  //  initial_level_to_load: Some( "academy_1.level" ),

 //initial_level_to_load: Some( "default_level.level" ),

 default_placement_settings: Some((
    translation_grid_lock_step: Some( (1.0,1.0,1.0) ) ,

 )),


)