{
  "CobbleWallPixel":"materialize_defs/pixel/cobble_wall_pixel.material.toml",
  "CobbleWall2Pixel":"materialize_defs/pixel/cobble_wall_2_pixel.material.toml",
  "CobbleWall3Pixel":"materialize_defs/pixel/cobble_wall_3_pixel.material.toml",


  "StoneBrickPixel":"materialize_defs/pixel/stone_brick_pixel.material.toml",
  "StoneBrick2Pixel":"materialize_defs/pixel/stone_brick_2_pixel.material.toml",
  "StoneBrick3Pixel":"materialize_defs/pixel/stone_brick_3_pixel.material.toml",
  "StoneBrick4Pixel":"materialize_defs/pixel/stone_brick_4_pixel.material.toml",
  "StoneBrick5Pixel":"materialize_defs/pixel/stone_brick_5_pixel.material.toml",
  "StoneBrick6Pixel":"materialize_defs/pixel/stone_brick_6_pixel.material.toml",

  "StoneTilePixel":"materialize_defs/pixel/stone_tile_pixel.material.toml",

  "StonePixel":"materialize_defs/pixel/stone_pixel.material.toml",
  "StonePixelAlt":"materialize_defs/pixel/stone_pixel_alt.material.toml",


  "StoneBrickPixelFixedUv":"materialize_defs/pixel/stone_brick_pixel_fixed_uv.material.toml",


  "MetalMeshWall":"materialize_defs/pixel/metal_mesh_wall.material.toml",


  "DirtPixel":"materialize_defs/pixel/dirt_pixel.material.toml",

  "BrickPixel":"materialize_defs/pixel/brick_pixel.material.toml",
  "BrickPixelAlt":"materialize_defs/pixel/brick_pixel_alt.material.toml",

   "SlateDark":"materialize_defs/slate_dark.material.toml",
   "CainosDungeon":"materialize_defs/pixel/cainos_dungeon.material.toml",
   "CainosDungeonDark":"materialize_defs/pixel/cainos_dungeon_dark.material.toml",


   "RocksAdamantite":"materialize_defs/rocks_adamantite.material.toml",
 

    "GravelPixel":"materialize_defs/pixel/gravel_pixel.material.toml", "Gravel2Pixel":"materialize_defs/pixel/gravel_2_pixel.material.toml",
    "Gravel3Pixel":"materialize_defs/pixel/gravel_3_pixel.material.toml",

    "GravelPixel":"materialize_defs/pixel/gravel_pixel.material.toml", 

    "StoneWall":"materialize_defs/stone_wall.material.toml",
     "StoneWall2":"materialize_defs/stone_wall_2.material.toml",
      "StoneWall3":"materialize_defs/stone_wall_3.material.toml",

     "PixelFoliage":"materialize_defs/pixel/pixel_foliage.material.toml",

// -----

       "AcademyWall":"materialize_defs/academy/academy_wall.material.toml",

       "AcademyStone":"materialize_defs/academy/academy_stone.material.toml",
        "AcademyExterior":"materialize_defs/academy/academy_exterior.material.toml",

          "AcademyCeiling":"materialize_defs/academy/academy_ceiling.material.toml",
          "AcademyFloor":"materialize_defs/academy/academy_floor.material.toml",
          "AcademyTrim":"materialize_defs/academy/academy_trim.material.toml",  
          "AcademyWood":"materialize_defs/academy/academy_wood.material.toml",
 
      "CastleBallista":"materialize_defs/castle/castle_ballista.material.toml",
      "CastleBrokenWall":"materialize_defs/castle/castle_broken_wall.material.toml",
      "CastleBrokenWood":"materialize_defs/castle/castle_broken_wood.material.toml",
      "CastlePavement":"materialize_defs/castle/castle_pavement.material.toml",
      "CastlePavement2":"materialize_defs/castle/castle_pavement_2.material.toml",
      "CastleRoof":"materialize_defs/castle/castle_roof.material.toml",
      "CastleRubble":"materialize_defs/castle/castle_rubble.material.toml",
      "CastleSlabs":"materialize_defs/castle/castle_slabs.material.toml",
      "CastleTiles":"materialize_defs/castle/castle_tiles.material.toml",
      "CastleTrim":"materialize_defs/castle/castle_trim.material.toml",
      "CastleTrimPixel":"materialize_defs/castle/castle_trim_pixel.material.toml",
      "CastleWall":"materialize_defs/castle/castle_wall.material.toml",
      "CastleWallPixel":"materialize_defs/castle/castle_wall_pixel.material.toml",
      "CastleWoodFloor":"materialize_defs/castle/castle_wood_floor.material.toml",
      "CastleWoodTrim":"materialize_defs/castle/castle_wood_trim.material.toml",

      // cave materials
      "CaveGround":"materialize_defs/cave/cave_ground.material.toml",
      "CaveWall":"materialize_defs/cave/cave_wall.material.toml",

      // dark elven materials
      "DarkElfPlasterWalls":"materialize_defs/dark_elven/dark_elf_plaster_walls.material.toml",
      "DarkElfRoof":"materialize_defs/dark_elven/dark_elf_roof.material.toml",
      "DarkElfRoofPieces":"materialize_defs/dark_elven/dark_elf_roof_pieces.material.toml",
      "DarkElfStoneBrick":"materialize_defs/dark_elven/dark_elf_stone_brick.material.toml",
      "DarkElfStoneDark":"materialize_defs/dark_elven/dark_elf_stone_dark.material.toml",
      "DarkElfWallsBeams":"materialize_defs/dark_elven/dark_elf_walls_beams.material.toml",
      "DarkElfWoodTrim":"materialize_defs/dark_elven/dark_elf_wood_trim.material.toml",
      "DarkElfWoodWalls":"materialize_defs/dark_elven/dark_elf_wood_walls.material.toml",
      "RuinsFoliage":"materialize_defs/dark_elven/ruins_foliage.material.toml",
      "RuinsTreeBark":"materialize_defs/dark_elven/ruins_tree_bark.material.toml",
      "WindowGlassLight":"materialize_defs/dark_elven/window_glass_light.material.toml",

      // dwarven materials
      "DwarvenRock":"materialize_defs/dwarven/dwarven_rock.material.toml",
      "DwarvenStone":"materialize_defs/dwarven/dwarven_stone.material.toml",
      "DwarvenTile":"materialize_defs/dwarven/dwarven_tile.material.toml",

      // human house materials
      "HumanHouseCeiling":"materialize_defs/human_house/human_house_ceiling.material.toml",
      "HumanHouseExterior":"materialize_defs/human_house/human_house_exterior.material.toml",
      "HumanHouseFloor":"materialize_defs/human_house/human_house_floor.material.toml",
      "HumanHouseRoof":"materialize_defs/human_house/human_house_roof.material.toml",
      "HumanHouseStone":"materialize_defs/human_house/human_house_stone.material.toml",
      "HumanHouseTrim":"materialize_defs/human_house/human_house_trim.material.toml",
      "HumanHouseWall":"materialize_defs/human_house/human_house_wall.material.toml",
      "HumanHouseWood":"materialize_defs/human_house/human_house_wood.material.toml",

      // items materials
      "DungeonWeapons":"materialize_defs/items/dungeon_weapons.material.toml",

      // medieval village materials
      "MedievalVillageDoorRound":"materialize_defs/medieval_village/medieval_village_door_round.material.toml",
      "MedievalVillageDoorSquare":"materialize_defs/medieval_village/medieval_village_door_square.material.toml",
      "MedievalVillageFloor":"materialize_defs/medieval_village/medieval_village_floor.material.toml",
      "MedievalVillageRoof":"materialize_defs/medieval_village/medieval_village_roof.material.toml",
      "MedievalVillageRoofWindow":"materialize_defs/medieval_village/medieval_village_roof_window.material.toml",
      "MedievalVillageStairs":"materialize_defs/medieval_village/medieval_village_stairs.material.toml",
      "MedievalVillageWall1":"materialize_defs/medieval_village/medieval_village_wall1.material.toml",
      "MedievalVillageWall2":"materialize_defs/medieval_village/medieval_village_wall2.material.toml",
      "MedievalVillageWallStone":"materialize_defs/medieval_village/medieval_village_wall_stone.material.toml",

      // misc materials  
      "Bark1":"materialize_defs/misc/bark1.material.toml",
      "Branch":"materialize_defs/misc/branch.material.toml",
      "Cliff1":"materialize_defs/misc/cliff1.material.toml",
      "Cliff2":"materialize_defs/misc/cliff2.material.toml",
      "Cliff3":"materialize_defs/misc/cliff3.material.toml",
      "Cliff3Blue":"materialize_defs/misc/cliff3_blue.material.toml",
      "Cliff4":"materialize_defs/misc/cliff4.material.toml",
      "Cliff5":"materialize_defs/misc/cliff5.material.toml",
      "Cliff5Blue":"materialize_defs/misc/cliff5_blue.material.toml",
      "Cobbles2":"materialize_defs/misc/cobbles_2.material.toml",
      "DirtToon1":"materialize_defs/misc/dirttoon1.material.toml",
      "Fern1":"materialize_defs/misc/fern1.material.toml",
      "Fern2":"materialize_defs/misc/fern2.material.toml",
      "GrassSimple":"materialize_defs/misc/grass_simple.material.toml",
      "Leaves1":"materialize_defs/misc/leaves1.material.toml",
      "Leaves2":"materialize_defs/misc/leaves2.material.toml",
      "Leaves3":"materialize_defs/misc/leaves3.material.toml",
      "Leaves4":"materialize_defs/misc/leaves4.material.toml",
      "MushroomFlowers":"materialize_defs/misc/mushroomflowers.material.toml",
      "OrnateTiles1":"materialize_defs/misc/ornate_tiles_1.material.toml",
      "OrnateTiles2":"materialize_defs/misc/ornate_tiles_2.material.toml",
      "OrnateTiles3":"materialize_defs/misc/ornate_tiles_3.material.toml",
      "OrnateTiles4":"materialize_defs/misc/ornate_tiles_4.material.toml",
      "ProtoChecker":"materialize_defs/misc/proto_checker.material.toml",
      "Rocks2":"materialize_defs/misc/rocks2.material.toml",
      "RocksFixedDark":"materialize_defs/misc/rocks_fixed_dark.material.toml",
      "RocksFixedWhite":"materialize_defs/misc/rocks_fixed_white.material.toml",
      "RockyEarth":"materialize_defs/misc/rocky_earth.material.toml",
      "Slate1":"materialize_defs/misc/slate_1.material.toml",
      "Slate2":"materialize_defs/misc/slate_2.material.toml",
      "SlateDarkMisc":"materialize_defs/misc/slate_dark.material.toml",
      "StoneFloor":"materialize_defs/misc/stone_floor.material.toml",
      "StoneWallMisc":"materialize_defs/misc/stone_wall.material.toml",
      "StoneWall2Misc":"materialize_defs/misc/stone_wall_2.material.toml",
      "StoneWall3Misc":"materialize_defs/misc/stone_wall_3.material.toml",
      "TiledBricks1":"materialize_defs/misc/tiled_bricks_1.material.toml",
      "TiledBricks2":"materialize_defs/misc/tiled_bricks_2.material.toml",
      "TiledCobbles1":"materialize_defs/misc/tiled_cobbles_1.material.toml",
      "TiledCobbles2":"materialize_defs/misc/tiled_cobbles_2.material.toml",
      "TiledCobbles3":"materialize_defs/misc/tiled_cobbles_3.material.toml",
      "TiledMarble":"materialize_defs/misc/tiled_marble.material.toml",
      "TiledMarbleDark":"materialize_defs/misc/tiled_marble_dark.material.toml",
      "TiledRocks1":"materialize_defs/misc/tiled_rocks_1.material.toml",
      "TiledRocks2":"materialize_defs/misc/tiled_rocks_2.material.toml",
      "TiledStuccoDark":"materialize_defs/misc/tiled_stucco_dark.material.toml",
      "TiledStuccoLight":"materialize_defs/misc/tiled_stucco_light.material.toml",
      "TiledWall1":"materialize_defs/misc/tiled_wall_1.material.toml",
      "ToonStone":"materialize_defs/misc/toonstone.material.toml",
      "TreeLeavesFir":"materialize_defs/misc/treeleavesfir.material.toml",
      "Undergrowth":"materialize_defs/misc/undergrowth.material.toml",
      "VillageProps":"materialize_defs/misc/villageprops.material.toml",
      "Wall1":"materialize_defs/misc/wall1.material.toml",
      "Wall1Dark":"materialize_defs/misc/wall1_dark.material.toml",
      "Wall2":"materialize_defs/misc/wall2.material.toml",
      "Willow":"materialize_defs/misc/willow.material.toml",
      "Wood1":"materialize_defs/misc/wood1.material.toml",
      "Wood2":"materialize_defs/misc/wood2.material.toml",
      "Wood5":"materialize_defs/misc/wood5.material.toml",
      "WoodFloor":"materialize_defs/misc/wood_floor.material.toml",

      // enchantments ! 

      "Portal1":"materialize_defs/magicfx/portal_1.material.toml",
  

      "enchant_minor_fire":"materialize_defs/magicfx/fire_minor.material.toml",
    
     "fire_medium":"materialize_defs/magicfx/fire_medium.material.toml",
 
}


// handle grass foliage shader w this !? 