// terrain_config.ron
ClayTilesConfig(
    
    
    texture_uv_expansion_factor:16,  //put this on the tiles individually 
    
    texture_image_sections: 4,
     
     
     diffuse_folder_path: "textures/tiles_array_texture.tga", 
      
)
