(translation_offset:None,entities:[(name:"blank_block",transform:(translation:(3.498151,6.4058256,1.8011566),rotation:(0.0,-0.0,0.0),scale:(6.0,6.0,6.0)),custom_props:Some({})),(name:"rock_cluster_lg_5",transform:(translation:(408.43762,8.740753,392.6773),rotation:(0.0,-0.0,0.0),scale:(1.0,1.0,1.0)),custom_props:Some({})),(name:"rock_cluster_lg_4",transform:(translation:(421.0579,8.817893,401.1072),rotation:(0.0,-0.0,0.0),scale:(2.0,2.0,2.0)),custom_props:Some({})),(name:"rock_cluster_lg_1",transform:(translation:(363.24982,8.757698,352.33862),rotation:(0.0,-0.0,0.0),scale:(2.0,2.0,2.0)),custom_props:Some({}))])