(
	
	 material_name:  "MedievalVillageDoorSquare",   

	 diffuse_texture: Some("textures/material_overrides/medieval_village/T_DoorSquare_D_Red_2k.png"),
	 normal_texture: Some("textures/material_overrides/medieval_village/T_DoorSquare_N_2k.png"),
	 
	 roughness: 0.8,

     emissive_texture: None ,

  

     uv_scale_factor: 1.0,  // do this in the material override lib ?
        
)