(
	
	 material_name:  "HumanHouseWall",   
diffuse_texture: Some("textures/material_overrides/human/plaster_wall_D.png"),
	normal_texture: Some("textures/material_overrides/human/plaster_wall_N.png"),



	roughness: 0.9,
   metallic: Some(0.4),

   emissive_texture: None ,


   custom_props:  [ "FixedSpaceUvShader" ],



   uv_scale_factor: 1.0,  // do this in the material override lib ?
        





)