(  
  initial_state:"init",
	encounter_states: { 
            "init": (),
            "hiking_to_temple": (
                triggers_on_enter_state: Some([

                  (
                    action: SetAiNpcWaypointPath( 
                       source: UnitUniqueName("gabriella"), 
                      waypoint_path: Some( "nav_path_01.waypointpath" )  
                    )
                  ) 

                  //use dialog tree instead of this 
                 

                  ])//some


              ) 

      }
  )  