(translation_offset:None,entities:[Doodad(name:"ancient_bg_islands",transform:(translation:(0.0,0.0,0.0),rotation:(0.0,-0.0,0.0),scale:(10.0,10.0,10.0)),custom_props:Some({})),Doodad(name:"water_plane",transform:(translation:(512.0,5.0,512.0),rotation:(0.0,-0.0,0.0),scale:(102400.0,196.0,102400.0)),custom_props:Some({"liquid_type":String("water"),"special_type":String("liquid_plane")})),Doodad(name:"water_physics_volume",transform:(translation:(528.0,0.0,177.0),rotation:(0.0,-0.0,0.0),scale:(10000.0,10.0,10000.0)),custom_props:Some({"physics_volume_type":String("water"),"special_type":String("physics_volume")}))])