(translation_offset:None,entities:[Doodad(name:"hatch_door_1",transform:(translation:(806.67505,9.81769,184.4132),rotation:(0.0,-0.0,0.0),scale:(2.0,2.0,2.0)),custom_props:Some({"teleporter":EmptyProp,"waypoint_name":String("entrance_main"),"level_name":String("dungeon_01")}))])