(translation_offset:None,entities:[Doodad(name:"dreamscape_Ruins_05",transform:(translation:(415.7935,8.093737,316.32477),rotation:(0.0,-0.0,0.0),scale:(1.0,1.0,1.0)),custom_props:Some({})),Doodad(name:"dreamscape_Ruins_02",transform:(translation:(426.9625,8.712147,321.6805),rotation:(0.0,-0.0,0.0),scale:(1.0,1.0,1.0)),custom_props:Some({})),Doodad(name:"dreamscape_Ruins_03",transform:(translation:(416.62567,8.674372,334.13254),rotation:(0.0,-0.0,0.0),scale:(1.0,1.0,1.0)),custom_props:Some({}))])