(translation_offset:None,entities:[Doodad(name:"MCastle_SquareWalls_07",transform:(translation:(507.0,9.0,259.0),rotation:(0.0,-0.0,0.0),scale:(2.0,2.0,2.0)),custom_props:Some({"material_override":String("StoneWall2")})),Doodad(name:"MCastle_ArchDoors_06",transform:(translation:(499.0,9.0,259.0),rotation:(0.0,-0.0,0.0),scale:(2.0,2.0,2.0)),custom_props:Some({"material_override":String("StoneWall2")})),Doodad(name:"zone_root_marker",transform:(translation:(505.9092,9.800483,254.96703),rotation:(0.0,-0.0,0.0),scale:(500.0,500.0,500.0)),custom_props:Some({"special_type":String("zone_root_marker")}))])