(translation_offset:None,entities:[Doodad(name:"dreamscape_ApseLarge",transform:(translation:(465.0,26.0,40.0),rotation:(1.5707961,-0.0,0.0),scale:(1.0,1.0,1.0)),custom_props:Some({})),Doodad(name:"dreamscape_AspeFloor",transform:(translation:(465.0,26.0,35.0),rotation:(1.5707963,-0.0,0.0),scale:(1.0,1.0,1.0)),custom_props:Some({}))])