(translation_offset:None,entities:[Doodad(name:"Medieval_ArchedBridge",transform:(translation:(516.28094,18.949505,184.07986),rotation:(0.0,-0.0,0.0),scale:(2.0,2.0,2.0)),custom_props:Some({})),Doodad(name:"proto_block_stone_3",transform:(translation:(456.31207,23.000002,190.04977),rotation:(0.0,-0.0,0.0),scale:(4.0,4.0,4.0)),custom_props:Some({}))])