(translation_offset:None,entities:[Doodad(name:"MCastle_SquareWalls_07",transform:(translation:(507.0,9.0,259.0),rotation:(0.0,-0.0,0.0),scale:(2.0,2.0,2.0)),custom_props:Some({"material_override":String("StoneWall2")})),Doodad(name:"MCastle_ArchDoors_06",transform:(translation:(499.0,9.0,259.0),rotation:(0.0,-0.0,0.0),scale:(2.0,2.0,2.0)),custom_props:Some({"material_override":String("StoneWall2")}))])