(translation_offset:None,entities:[Doodad(name:"MCastle_SquareWalls_07",transform:(translation:(511.0,10.0,258.0),rotation:(0.0,-0.0,0.0),scale:(2.0,2.0,2.0)),custom_props:Some({"material_override":String("Slate1")})),Doodad(name:"MCastle_ArchDoors_06",transform:(translation:(499.26157,9.977594,258.7217),rotation:(0.0,-0.0,0.0),scale:(2.0,2.0,2.0)),custom_props:Some({"material_override":String("Slate1")}))])