
 

(  
 
  title: "Follow Gabriella",
  body: "While adventuring in the woods with Gabriella, she heard an unfamiliar noise nearby.",
  
  additional_hint: Some("Run with WASD"),
 
  effects_on_read: None 

)