
// these will give you secrets about where to find abilities,
// where to find quest givers,
// where to find items ,   ETC .. They can even advance an encounter state maybe ... 



(  
 
  title: "Summon Your Familiar",
  body: "Your familiar has been your best friend and companion ever since before you were blessed on your journey to become a Cleric.  Summon her by meditating.",
  
  additional_hint: Some("Meditate with the 'R' key"),
 
  effects_on_read: None 

)