
// these will give you secrets about where to find abilities,
// where to find quest givers,
// where to find items ,   ETC .. They can even advance an encounter state maybe ... 



(  
   
  title: "Test Secret",
  body: "Legends say ",


  // journal secret selection requirements 
  requirements: Some([
  //	EncounterState(),
 // 	PlayerRegion()
  ]),

  effects_on_read: Some([
  //advance encounters ? 
  ])
  

)