(  
  initial_state:"init",
	encounter_states: { 
            "init": (),

            "talk_with": (


               triggers_on_enter_state:Some([

                    (
                     action: PlayCinematic( 
                        cinematic_name: "aria_talk.cine" 
                      ),
                      conditions:  None

                    ),


                    // cinematic ? 


                ])


              ),


             "give_branch": (


               triggers_on_enter_state:Some([

                  (

                   action: AddEntityFromSpawnable (
                      entity_spawn:  (
                          entity_spawn_type: Item(item_type:"arias_mystic_branch.item"),
                         
                          additional_spawnable_components: Some([
                    
                                InstantlyShowcaseItem
                                
                            ])
                        ),
                     
                    )
                   )


                ])


             ), 
              

      }
  )  