( 
  initial_state:"init",
  encounter_states: { 
            "init": (),


            //set unique named entity courtyard_sword   invisible !! give it a condition ??? .. its a doodad.. 

            "picked_up": (  
                triggers_on_enter_state: Some([


                   (
                    action: AddEntityFromSpawnable (
		                  entity_spawn:  (
		                      entity_spawn_type: Item(item_type:"elemental_binding_blade.item"),
		                     
		                      additional_spawnable_components: Some([
		                          
		                            InstantlyShowcaseItem
		                            
		                        ])
		                    ),
		                 
		                )
                  ) , 


                  (

                     action: SetEntityVisibility (

                        source: UnitUniqueName("courtyard_sword"),
                        visible: false

                     )
                  ) ,


                  (
                   action: SetEncounterState( 
                      key: "courtyard_ghouls.encounter" ,

                      new_state: "ghouls_activated"
                    ),
                    conditions: None
                   ),
                    (
                   action: SetEncounterState( 
                      key: "courtyard_gate.encounter" ,

                      new_state: "gate_open"
                    ),
                    conditions: None
                   )
                 
                 


            	    	
                 ])


             )  ,
          
         }  

    )





// courtyard_sword