( 
  initial_state:"init",
  encounter_states: { 
            "init": (),
            "ghouls_activated": (  
                triggers_on_enter_state: Some([

            	    (
                     action: ApplyInstantEffectToEntity (
                     	  effect_application : (
                        effect:  DispelConditionsInstantEffect((condition_layers: [Special]  ) ) , 
                        interaction_flags: [ WithSelf,WithTarget ], 
                         ),
                     	  source: UnitUniqueName("courtyard_ghoul_1")
                     	)
                    ),

                     (
                     action: ApplyInstantEffectToEntity (
                        effect_application : (
                        effect:  DispelConditionsInstantEffect((condition_layers: [Special]  ) ) , 
                        interaction_flags: [ WithSelf,WithTarget ], 
                         ),
                        source: UnitUniqueName("courtyard_ghoul_2")
                      )
                    ),

                     (
                     action: ApplyInstantEffectToEntity (
                        effect_application : (
                        effect:  DispelConditionsInstantEffect((condition_layers: [Special]  ) ) , 
                        interaction_flags: [ WithSelf,WithTarget ], 
                         ),
                        source: UnitUniqueName("courtyard_ghoul_3")
                      )
                    )
                 ])


             )  ,
          
         }  

    )