(
	
	 material_name:  "CainosDungeon",   

	diffuse_texture: Some("textures/material_overrides/pixel/cainos/cainos_dungeon.png"),

	// normal_texture: Some("textures/material_overrides/pixel/cainos/cainos_dungeon.png"),

	
  roughness: 0.9, 
     emissive_texture: None ,
 

        uv_scale_factor: 1.0,    

       

)