(
 
  triggers_on_activate: Some( [
 
 		 

                   (
                    action: SetEncounterState( 
                      key: "grove_intro_pond.encounter" ,

                       new_state: "in_pond"
                    ),
                    conditions: Some([
                      EncounterStateEquals (key: "grove_intro_pond.encounter" , state_name: "init" )
                    ])



                  )

     ] )



)


// past_grove_brambles_1.triggerscript