Cinematic(
    steps: [

     (
            duration:  0, // This represents 0.5 seconds.
            actions: [ 

            //put char to sleep w condition 

              PanCinematicCameraToVirtualCameraSetpoint (camera_unique_name: "grove_intro_camera_1" ),

             SetDayNightCycleTime( day_time_seconds: 900  )

             ] //just wait 
        ),

         
        
       
        (
             
                duration:  0, 
                actions: [  
                       // LoadStage ( stage_name:"stage_001.stg" ),
                         PanCinematicCameraToVirtualCameraSetpoint (camera_unique_name: "grove_intro_camera_1" ),


                        AddConditionToEntity ( source:UnitUniqueName("player"), condition_type:"resting.condition" ),  

                        AddConditionToEntity ( source:UnitUniqueName("gabriella"), condition_type:"resting.condition" ),  
                  

                         StartDialogHeadless (  node: "grove_intro.dialog"  ) 

                    ], 
         ),

              
                  
        
      
 
         

        (
            duration: 1400,  
            actions: [  
                PanCinematicCameraToVirtualCameraSetpoint (camera_unique_name: "grove_intro_camera_1" ),
                // StartDialogHeadless (  node: "intro_001.dialog" ) 

                DispelConditionsFromEntity ( source:UnitUniqueName("player"), condition_layer: Resting ),  

                  DispelConditionsFromEntity ( source:UnitUniqueName("gabriella"), condition_layer: Resting ),  

                

                SetEncounterState(
                 key: "gabriella_intro.encounter" , 
                   new_state: "walk_to_brambles")
                ],
            
               
        ),



        
        
        (
            duration: 0,  
            actions: [
              
               //  UnloadStage  ( stage_name:"stage_001.stg" ), 
                 EndCinematic
                                 
             ]
        ) 
    ]
)