Cinematic(

//pan to a camera 

// spawn a stage with the greblin and then the wolf , they are running/animating

//dialog with gabriella 


/*
    Waypoints of interest 


     twisted_grove_greblin_fall
     twisted_grove_greblin 
     twisted_grove_greblin_item_drop

     twisted_grove_wolf_spawn_1
     twisted_grove_wolf_dest

     twisted_grove_wolf_player_stand 
     twisted_grove_wolf_friend_stand 

*/




// make the !  go away ! 
    steps: [

       (
            duration:  0, // This represents 0.5 seconds.
            actions: [ 
                TeleportUnit (
                    source: UnitUniqueName("player"),
                    target_waypoint_name: Some("twisted_grove_wolf_player_stand"),

                ),
                PanCinematicCameraToVirtualCameraSetpoint (camera_unique_name: "twisted_grove_wolf_camera_1" )
        
               //SetDayNightCycleTime( day_time_seconds: 900  )

             ]  
        ),

        (
            duration:  2000, // This represents 0.5 seconds.
            actions: [ 


                //rustling noise of bush ?? 

                PanCinematicCameraToVirtualCameraSetpoint (camera_unique_name: "twisted_grove_wolf_camera_1" )
        
               

             ]  
        ),

         (
            duration:  1000,  
            actions: [ 
 
               
               AddEntityFromSpawnable (
                  entity_spawn:  (
                      entity_spawn_type: Unit(unit_type:"wood_elemental"),
                      unique_name: Some( "jericho" ),  

                      additional_spawnable_components: Some([
                            SpawnsAtWaypoint("twisted_grove_wolf_spawn_1"),
                            CinematicAiCommands( [
                                  SetWalkDestination (Waypoint(
                                    "twisted_grove_greblin_fall"
                                    ) )


                               ]  )
                        ])
                    ),
                 
                )
             ]  
        ),
    
 

         // do dialog !! 


        (
            duration:  1000,  
            actions: [ 

              StartDialogHeadless (  node: "twisted_grove_wood_elemental.dialog"  ) 

          ]),


        (
            duration: 0,  
            actions: [
               
                 EndCinematic
                                 
             ]
        ) 

        ]

 )