(
    steps: [
        (
            body: "  ... ?",
            start_trigger_actions: None,
            end_trigger_actions: None, //if none, we assume we jump to the next step 
            dialog_choice_architecture: Continue,
           // fallback_dialog_action: None //if this none, we just go to the next step 
        ),

         (
            body: " This poor creature. What happened?? This looks like a wood elemental or a tree spirit. ",
            start_trigger_actions: None,
            end_trigger_actions: None, //if none, we assume we jump to the next step 
            dialog_choice_architecture: Continue,
           // fallback_dialog_action: None //if this none, we just go to the next step 
        ),




      (
            body: "We must help him. Can you do something?",
            start_trigger_actions: None,
            end_trigger_actions: None, //if none, we assume we jump to the next step 
            dialog_choice_architecture:  Choices([
                ( 
                    body: "Call for help from the divine" ,

                     dialog_action: Some( PlayCinematic (
                            //this no work 
                        "grove_pond_divine.cine"  

                        ) )
                ),

                ( 
                    body: "Let the spirit rest" ,
                     dialog_action: Some( ExitDialog )
                   ),
 
                
            ] ),
           // fallback_dialog_action: None //if this none, we just go to the next step 
        ),
        

  
    ],
)
