(
    steps: [
        (
            body: "Moon Mistress, Goddess of Life, we call upon you for help!",
            //start_trigger_actions: None,

            start_trigger_actions: Some([
               SetSpecialAnimationStateOnUniqueNamedUnit ( 
                unit_unique_name: "player" , 
                animation_state: Some(Kneeling)  
                )
               ]),


            end_trigger_actions: None, //if none, we assume we jump to the next step 
            dialog_choice_architecture: Continue,
           // fallback_dialog_action: None //if this none, we just go to the next step 
        ),


       (
            body: " < You do not hear any response... > ",
               start_trigger_actions: Some([
               SetSpecialAnimationStateOnUniqueNamedUnit ( 
                unit_unique_name: "player" , 
                animation_state: None  
                )
               ]),
            end_trigger_actions: None, //if none, we assume we jump to the next step 
            dialog_choice_architecture:  Continue,
           // fallback_dialog_action: None //if this none, we just go to the next step 
        ),


          (
            body: " Wait.. what was that?   ",
               start_trigger_actions: Some([
                    PlaySoundSpecial(
                      audio_clip_type: Stem("audio/sound_effects/story/meow_reverb.ogg")
                    )
               ]),
            end_trigger_actions: None, //if none, we assume we jump to the next step 
            dialog_choice_architecture:  Continue,
           // fallback_dialog_action: None //if this none, we just go to the next step 
        ),

           (
            body: " < You hear a faint sound coming from the cave nearby... > ",
               start_trigger_actions: Some([
               PlaySoundSpecial(
                      audio_clip_type: Stem("audio/sound_effects/story/meow_reverb.ogg")
                    ),
               SetSpecialAnimationStateOnUniqueNamedUnit ( 
                unit_unique_name: "player" , 
                animation_state: None  
                )
               ]),
            end_trigger_actions: None, //if none, we assume we jump to the next step 
            dialog_choice_architecture:  Continue,
           // fallback_dialog_action: None //if this none, we just go to the next step 
        ),
        
        

  
    ],
)
