(translation_offset:None,entities:[Doodad(name:"darkness_plane",transform:(translation:(0.0,0.0,0.0),rotation:(0.0,-0.0,0.0),scale:(100.0,100.0,100.0)),custom_props:Some({})),Doodad(name:"cavern_floor_narrow_bridge_lg_1",transform:(translation:(-3.0,28.0,0.893022),rotation:(0.0,-0.0,0.0),scale:(1.0,1.0,1.0)),custom_props:Some({"material_override":String("Rocks1")})),Doodad(name:"cavern_floor_lg_1",transform:(translation:(3.102122,28.89341,39.92835),rotation:(0.0,-0.0,0.0),scale:(1.0,1.0,1.0)),custom_props:Some({"material_override":String("Rocks1")})),Doodad(name:"forest_prop_crystal_01b",transform:(translation:(-16.916004,29.038378,30.524124),rotation:(0.0,-0.0,0.0),scale:(1.0,1.0,1.0)),custom_props:Some({})),Doodad(name:"player_waypoint",transform:(translation:(3.957896,30.179068,54.982384),rotation:(0.0,-0.0,0.0),scale:(1.0,1.0,1.0)),custom_props:Some({"special_type":String("player_waypoint"),"waypoint_name":String("entrance")}))])