(entities:[(name:"water_plane_swamp_green",transform:(translation:(720.6293,9.080765,477.4877),rotation:(2.8713927,-0.0,0.0),scale:(3.0688002,1.0,3.0688002)),custom_props:Some({"liquid_type":String("swamp_green"),"special_type":String("liquid_plane")}))])