(entities:[(name:"ClayTileBlock",transform:(translation:(956.0,13.0,494.0),rotation:(0.0,-0.0,0.0),scale:(1.0,1.0,1.0))),(name:"ClayTileBlock",transform:(translation:(957.0,19.0,494.0),rotation:(0.0,-0.0,0.0),scale:(1.0,1.0,1.0)))])