(entities:[(name:"ClayTileBlock",transform:(translation:(956.0,13.0,494.0),rotation:(0.0,-0.0,0.0),scale:(1.0,1.0,1.0)),custom_props:Some({}),clay_tile_block_data:Some((polygon_points:[(956,494),(956,523),(957,523),(957,494),(956,494)],mesh_height:6.0,mesh_bevel_factor:0.0,height_level:13,uv_expansion_factor:1.0,tile_type_index:0))),(name:"ClayTileBlock",transform:(translation:(951.0,13.0,525.0),rotation:(0.0,-0.0,0.0),scale:(1.0,1.0,1.0)),clay_tile_block_data:Some((polygon_points:[(951,525),(955,529),(955,528),(952,525),(951,525)],mesh_height:6.0,mesh_bevel_factor:0.0,height_level:13,uv_expansion_factor:1.0,tile_type_index:0)))])