(translation_offset:None,entities:[(name:"orc1",transform:(translation:(629.0633,8.273393,294.0138),rotation:(0.0,-0.0,0.0),scale:(1.0,1.0,1.0)),custom_props:Some({})),(name:"fae1",transform:(translation:(636.9792,8.837971,292.191),rotation:(0.0,-0.0,0.0),scale:(1.0,1.0,1.0)),custom_props:Some({}))])