(entities:[(name:"ClayTileBlock",transform:(translation:(6.0,60.0,1.0),rotation:(0.0,-0.0,0.0),scale:(1.0,1.0,1.0)),clay_tile_block_data:Some((polygon_points:[(6,1),(6,7),(14,7),(14,1),(6,1)],mesh_height:1.0,mesh_bevel_factor:0.0,height_level:60,tile_type_index:0))),(name:"player_waypoint",transform:(translation:(12.139429,61.783703,4.123976),rotation:(0.0,-0.0,0.0),scale:(1.0,1.0,1.0)),custom_props:Some({"special_type":String("player_waypoint"),"waypoint_name":String("entrance_main")}))])