(
    
    
    magic_fx_instances: [
 

  (
      shader_variant_name: "spider_web.shadvar",
	    mesh_name:  "plane_vertical.obj", 
	    fx_style: Beam,
		  start_time_offset: 0.0,
		  end_time_offset: 1.0,
		  start_transform: (translation: (0.0,0.0,0.0), rotation:(0.0,0.0,0.0),scale:(0.1,6.0,0.1)),
		  end_transform: (translation: (0.0,0.0,0.0), rotation:(0.0,0.0,0.0),scale:(0.1,6.0,0.1)),

		  start_tint_color: Some(   LinearRgba((
			        red: 1.0,
			        green: 1.0,
			        blue: 1.0,
			        alpha: 4.0
			   ) )),

		  end_tint_color: Some(   LinearRgba((
			        red: 1.0,
			        green:1.0,
			        blue: 1.0,
			        alpha: 4.0
			   ) )), 

    ),

    

    ] ,  

    max_time: None,
    repeating: true 


)