(translation_offset:None,entities:[Doodad(name:"MCastle_ArchDoors_02",transform:(translation:(0.0,0.0,0.0),rotation:(0.0,-0.0,0.0),scale:(1.0,1.0,1.0)),custom_props:Some({})),Doodad(name:"MCastle_Door_Full",transform:(translation:(0.0,0.0000019073486,0.0),rotation:(0.0,-0.0,0.0),scale:(1.0,1.0,1.0)),custom_props:Some({}))])