(translation_offset:None,entities:[Doodad(name:"tree_fir_1_leaves",transform:(translation:(0.0,0.0,0.0),rotation:(0.0,-0.0,0.0),scale:(1.0,1.0,1.0)),custom_props:Some({})),Doodad(name:"tree_fir_1_trunk",transform:(translation:(0.0,0.0,0.0),rotation:(0.0,-0.0,0.0),scale:(1.0,1.0,1.0)),custom_props:Some({}))])