(  
  initial_state:"init",
	encounter_states: { 
            "init": (),
            


             "walk_to_brambles": (


               triggers_on_enter_state:Some([



                  (
                    action: AddJournalEntry (
                     journal_entry_stem: "follow_gabriella.journal",
                     show_entry: true 
                  ) ), 
                 

                  (
                    action: SetAiNpcWaypointDestination( 
                      source: UnitUniqueName("gabriella"), 
                      waypoint_name: Some( "gabriella_at_brambles" ) ,
                      triggers_on_waypoint_reached: Some([
                       
                         SetEncounterState(

                            key:"gabriella_intro.encounter",
                            new_state: "at_brambles"

                         )
                      ])
                    )
                  ) ,
                 




             ])


             ),




           


               "at_brambles": (),

/*
                "walk_to_bushes": (
                triggers_on_enter_state: Some([

                  

                  // start a dialog here -- gabriella says to follow her 
               
                  //cinematic ! 
                

                  (
                    action: PlayCinematic( 
                      cinematic_name: "introcamp_gabriella_follow_me.cine" 
                    ),
                    
                  ),
                 
                 
                 

                  (
                    action: SetAiNpcWaypointDestination( 
                      source: UnitUniqueName("gabriella"), 
                      waypoint_name: Some( "gabriella_to_bushes" ) ,
                      triggers_on_waypoint_reached: Some([

                        
                         SetEncounterState(

                            key:"gabriella_intro.encounter",
                            new_state: "at_bushes"

                         )
                      ])
                    )
                  ) ,
                 

                  ])//some


              ) ,
*/
              "at_bushes": (),


             "familiar_summoning": (


               triggers_on_enter_state:Some([


                  (
                    action: SetAiNpcWaypointDestination( 
                      source: UnitUniqueName("gabriella"), 
                      waypoint_name: Some( "gabriella_near_backpack" )  
                    )
                  ) ,


             ])


             ),



      }
  )  