(  
  initial_state:"init",
	encounter_states: { 
            "init": (),
            "interacted": (
                triggers_on_enter_state: Some([

                  (
                    action: AddJournalEntry (
		                 journal_entry_stem: "summon_your_familiar.journal",
		                 show_entry: true ,
                  ) ), 


              

                  ])//some

                 )
              

      }
  )  