 
RegionsConfig(
    boundary_dimensions: (1024.0, 1024.0), // Vec2(x, y)
    
  
    region_texture_path: "regions/regions.png",  

    region_color_map_texture_path: "regions/region_color_map.png",  

    regions_manifest_file: "regions/regions_manifest.ron",  
    
    
)
