(
  
   material_name:  "Cliff5_blue",   

  diffuse_texture: Some("textures/material_overrides/cliff5_diffuse.png"),
  normal_texture: Some("textures/material_overrides/cliff5_normal.png"),

  roughness: 0.8,
  metallic:Some(0.4),

   emissive_texture: None ,



  uv_scale_factor: 1.0,  // do this in the material override lib ?
         


       diffuse_color_tint: Some( LinearRgba((
                    red: 0.34,
                    green: 0.62,
                    blue:  0.75,
                    alpha:  1.0,
              )  )  ),


)