(
  
   material_name:  "Leaves2",   

  diffuse_texture: Some("textures/material_overrides/leaves2_diffuse.png"),
   
  roughness: 0.8,

   alpha_mode: AlphaMask(0.5),

    
   uv_scale_factor: 1.0,  // do this in the material override lib ?
        




)