(
	
	 material_name:  "TiledRocks1",   

	diffuse_texture: Some("textures/material_overrides/rocks1_diffuse.png"),
	normal_texture: Some("textures/material_overrides/rocks1_normal.png"),

	roughness: 0.8,
	metallic:Some(0.4),

     emissive_texture: None ,



     uv_scale_factor: 0.25,  // do this in the material override lib ?
         




)