(
  
   material_name:  "Undergrowth",   

  diffuse_texture: Some("textures/material_overrides/undergrowth_diffuse.png"),
   
  roughness: 0.8,

  alpha_mode: AlphaBlend,
    
   uv_scale_factor: 1.0,  // do this in the material override lib ?
        




)