(
 //dark elven underground city 

	initial_terrain_to_load:  Some("vessara_terrain"), 
    initial_foliage_scene_to_load: None, 


	initial_zones_to_load: Some([

		"vessara/city_vessara_core.zone"
	]),





)