(


	initial_terrain_to_load: Some("default_terrain"),    
    initial_foliage_scene_to_load: Some("world_foliage.foliage"),  


	initial_zones_to_load: Some([

		   "ancient_islands.zone",
        "viridian_temple01.zone",
 
         "viridian_path.zone", 
        "grove/twisted_grove_power_runes.zone",
        "swamp_one.zone",
         "village1.zone",
        "dungeon_01_exterior.zone",
         "temple_exterior.zone",
          "whispering_woods.zone",
        "sola.zone",

        "sola_church.zone",

         "sola_temple_1.zone",
         "sola_academy_1.zone", //necessary to be its own zone ..? 
          "sola_gate.zone",

          "huntress_hill.zone",
        "morgans_marsh.zone", 

         "rotwind_vale.zone", 

          "banesera.zone", 

        //  "fetid_hole.zone", 

        //  "test_monsters.zone",


	]),





)