(translation_offset:None,entities:[(name:"bramble_01",transform:(translation:(817.32196,9.0,332.4456),rotation:(0.0,-0.0,0.0),scale:(2.0,2.0,2.0)),custom_props:Some({})),(name:"bramble_02",transform:(translation:(816.70807,9.0,334.07364),rotation:(-1.4754636,0.0,0.0),scale:(2.0,2.0,2.0)),custom_props:Some({})),(name:"bramble_03",transform:(translation:(815.98346,9.0,335.6571),rotation:(0.0,-0.0,0.0),scale:(2.0,2.0,2.0)),custom_props:Some({})),(name:"AncientForestTree2",transform:(translation:(815.2741,9.0,338.73132),rotation:(0.0,-0.0,0.0),scale:(1.0,1.0,1.0)),custom_props:Some({})),(name:"AncientForestTree1",transform:(translation:(816.4503,9.00094,322.78458),rotation:(0.0,-0.0,0.0),scale:(1.6696748,1.6696748,1.6696748)),custom_props:Some({})),(name:"meadow_Env_Tree_Meadow_01",transform:(translation:(832.3955,8.999996,369.57645),rotation:(0.0,-0.0,0.0),scale:(1.0,1.0,1.0)),custom_props:Some({}))])