(
 
  triggers_on_activate: Some( [
 
 		 

                 //if you enter this AND YOU HAVE THE KEY FROM THE VIRIDIAN HIDEOUT then 
                 // the door shall unlock so you can go inside 

     ] )



)

