(
	
	 material_name:  "DirtToon1",   

	diffuse_texture: Some("textures/material_overrides/stone_diffuse.png"),
	normal_texture: Some("textures/material_overrides/stone_normal.png"),

	roughness: 0.8,
	metallic:Some(0.4),

     emissive_texture: None ,



      uv_scale_factor: 2.0, // do this in the material override lib ?
         
      diffuse_color_tint: Some( LinearRgba(
                          red: 0.26,
                          green: 0.22,
                          blue:  0.15,
                          alpha:  1.0,
                      )  ),




)
 