(
  
   material_name:  "Rocks2",   

  diffuse_texture: Some("textures/material_overrides/rocks2_diffuse.png"),
  normal_texture: Some("textures/material_overrides/rocks2_normal.png"),

  roughness: 0.8,
  metallic: Some(0.4),

     emissive_texture: None ,



        uv_scale_factor: 1.0,  // do this in the material override lib ?
        





)